body {
  background-color: #2B303B;
  color: #EFF1F5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-212810.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

/**
 * Bookmark bar
 */
nav.bookmarks {
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, .3);
}

nav.bookmarks ul {
  list-style: none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

nav.bookmarks ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

nav.bookmarks ul li li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav.bookmarks ul a {
  display: block;
  color: #EFF1F5;
  text-decoration: none;
  font-weight: 300;

  line-height: 30px;
  padding: 0 10px;
  font-size: 12px;
}

nav.bookmarks ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
  padding: 0;
}

nav.bookmarks ul ul ul {
  top: 0;
  left: 100%;
}

nav.bookmarks ul li:hover > ul {
  display: block;
}

nav.bookmarks li:hover {
  background-color: rgba(0, 0, 0, .4);
}
