#!/bin/bash

# Get tje ls colorflag
if ls --color > /dev/null 2>&1; then
  colorflag="--color"
else
  colorflag="-G"
fi

# File listing
alias l='ls -lF ${colorflag}'
alias ll='ls -la ${colorflag}'
alias ls='command ls ${colorflag}'
alias l.='ls -d .* ${colorflag}'

# Better navigation
alias ~='cd ~'
#alias --='cd -'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# Shortcuts
alias h='history'
alias j='jobs -l'
alias :q='exit'

# Network
alias header='curl -I'
alias headerc='curl -I --compress'
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Always color grep output
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Development aliases
alias nr='npm run'
alias nrs='npm run -s'
alias pa='php artisan'

