#!/bin/bash

# Editor settings
export EDITOR=vim
export TERM=xterm-256color

# Path settings
export PATH=$PATH:$HOME/.bin:$HOME/.scripts

# OSX Only - i dont even know why i used this?
[[ $(uname) = 'Darwin' ]] && export PATH=$PATH:/usr/local/Cellar/php56/5.6.17/bin/

# Bash settings
export HISTSIZE=10000
export HISTFILESIZE=${HISTSIZE}
