!-- Xft (Anti aliased fonts)
Xft.dpi:                96
Xft.antialias:          true
Xft.rgba:               rgb
Xft.hinting:            true
Xft.autohint:           false
Xft.hintstyle:          hintslight
Xft.lcdfilter:          lcddefault

!-- URxvt (rxvt unicode terminal emulator)
URxvt.scrollBar:        false
URxvt.saveLines:        10000
URxvt.cursorUnderline:  false
URxvt.letterspace:      -1
URxvt.depth:            32
URxvt.foreground:       #FFFFFF
URxvt.background:       [70]#000000
URxvt.cursorColor:      #00FF00
URxvt.cursorBlink:      true
URxvt.geometry:         80x20

!--- URxvt fonts
URxvt*font:             -lucy-tewi-medium-r-normal--11-90-75-75-p-58-iso10646-1, \
                        -lucy-tewi2a-medium-r-normal--11-90-75-75-p-58-iso10646-1

URxvt*boldFont:         -lucy-tewi-bold-r-normal--11-90-75-75-p-58-iso10646-1, \
                        -lucy-tewi2a-bold-r-normal--11-90-75-75-p-58-iso10646-1

URxvt*italicFont:       -lucy-tewi-medium-r-normal--11-90-75-75-p-58-iso10646-1, \
                        -lucy-tewi2a-medium-r-normal--11-90-75-75-p-58-iso10646-1

URxvt*bolditalicFont:   -lucy-tewi-bold-r-normal--11-90-75-75-p-58-iso10646-1, \
                        -lucy-tewi2a-bold-r-normal--11-90-75-75-p-58-iso10646-1

!-- Colors
*color0: #4E4E4E
*color8: #7D7D7D
*color1: #ff4070
*color9: #ff6699
*color2: #d5f85f
*color10: #99ff66
*color3: #ffa466
*color11: #faff66
*color4: #00A1E4
*color12: #00B4FF
*color5: #7d66ff
*color13: #a982ff
*color6: #00CCFF
*color14: #26DED2
*color7: #D6D6D6
*color15: #F0F0F0
