"*":
  core:
    disabledPackages: [
      "no-title-bar"
      "vim-mode-plus"
    ]
    telemetryConsent: "no"
    themes: [
      "nebula-ui"
      "nebula-syntax"
    ]
    warnOnLargeFileLimit: 2
  editor:
    fontSize: 13
  "exception-reporting":
    userId: "0513bbc7-f3b2-f996-5d61-201444faa83c"
  "nebula-ui":
    focusMode: false
  "seti-ui":
    compactView: true
    fileIcons: false
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
