"*":
  welcome:
    showOnStartup: false
  editor:
    invisibles: {}
    fontFamily: "Source Code Pro"
    lineHeight: 1.2
    fontSize: 12
    tabLength: 4
  core:
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
    autoHideMenuBar: true
    ignoredNames: [
      ".DS_Store"
    ]
  "one-dark-ui":
    layoutMode: "Compact"
  "atom-material-ui":
    ui:
      slimScrollbar: true
      accentColor: "Cyan"
    tabs:
      showTabIcons: "Show on all tabs"
      tabMinWidth: true
      tabSize: "Small"
    fonts:
      useRobotoInUI: true
    treeView:
      compactTreeView: true
    panels:
      panelContrast: true
      altCmdPalette: false
  "exception-reporting":
    userId: "d6cc3be7-225a-6f27-7635-675a25317d7d"
